@import "fonts";
@import "globalVariables";
@import "generals";
@import "navbar";
@import "footer";
/*--mobile first--*/
*{
    padding: 0;
    margin: 0;
}
.column_form {
    display: flex;
    flex-direction: column;
    text-align: center;
}   
body{
    @extend .column_form;
    min-height: 100%;
    text-align: center;
    align-items: center;
    color: map-get($estilos_generales, letters-color);
    /* animation section */
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@mixin general_padding($top, $bottom){
    padding-top: $top;
    padding-bottom: $bottom;
}
 

.titles{
    color: map-get($estilos_generales, letters-color);
    @include general_padding(50px, 50px); 
    text-shadow: 2px 2px 5px red;
    font-size: normal;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
}

.index-main-content {
    @extend .column_form;
    text-align: justify;
    align-content: center;
    align-items: center;
    picture {
        .index_main_picture {
            margin: 10px;
            border: solid 5px map-get($estilos_generales, background-color);
            width: auto;
        }
    }
    p {
        margin: 10px;
        border: solid 5px map-get($estilos_generales, background-color);
    }
}


.main-content-gallery {
    box-sizing: border-box;
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        
        .column {
            flex: 100%;
            padding: 5px;
            
            img {
                width: 100%;
                margin-top: 5px;
                border: 1px solid map-get($estilos_generales, letters-color); 
            }
            img:hover {
                border: 1px solid #777;
            }
        }
          
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    .main-content-gallery {
        .row {
            .column {
                flex: 50%;
            }
        }
    }
}
@media (min-width: 800px) {
    .main-content-gallery {
        .row {
            .column {
                flex: 25%;
            }
        }
    }
}  

.main-content-history {
    @extend .column_form;
    text-align: center;
    div {
        margin-top:  20px;
        border: solid 5px map-get($estilos_generales, background-color);
    }
}



.main-content-guides {
    @extend .column_form;
}
.indice{
    @extend .column_form;
    ul{
        @extend .column_form;
        border:ridge yellow;
        background-color: map-get($estilos_generales, letters-color);
        align-items: center;
    }
}

.formulario {
    form {
        input .email:required{
            border: 1px dashed red;
            color: red;  
        }
        background-color: map-get($estilos_generales, letters-color);
        color: black;
        @include general_padding(10px, 10px)
    }
}


