@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  background-color: #062f55;
}

.navbar-nav .nav-item {
  background-color: antiquewhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar-nav .nav-item a:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.navbar-toggler {
  background-color: antiquewhite;
}

.navbar-collapse {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.foot {
  width: 100%;
  margin-top: 0px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.foot .social-media {
  background-color: brown;
  padding: 20px;
  margin: 10px;
}

/*--mobile first--*/
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: antiquewhite;
  /* animation section */
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.titles {
  color: antiquewhite;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 2px 2px 5px red;
  font-size: normal;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}

a {
  text-align: justify;
  text-decoration: none;
}

.main-content {
  text-align: center;
}

.index-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.index-main-content img, .index-main-content p {
  margin: 10px;
  border: solid 5px #062f55;
}
.index-main-content img {
  width: 50%;
}

.main-content-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-content-gallery div.gallery {
  margin: 5px;
  border: 1px solid antiquewhite;
  float: left;
  width: 180px;
}
.main-content-gallery div.gallery img {
  width: 100%;
  height: auto;
}
.main-content-gallery div.gallery:hover {
  border: 1px solid #777;
}
.main-content-gallery img {
  width: auto;
}

.main-content-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.main-content-history div {
  margin-top: 20px;
  border: solid 5px #062f55;
}

.main-content-guides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.indice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.indice ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: ridge yellow;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: antiquewhite;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}/*# sourceMappingURL=style.css.map */